@keyframes swipeDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes swipeUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes swipeUpFade {
  from {
    transform: translateY(5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes customFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes customFadeInSubtle {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.desktop-only {
  @screen mdMax {
    @apply translate-y-0 #{!important};
  }
}
